<div class="container">
    <p-card>
        <div class="mb-3">
            <tantus-button tabindex="0" label="View All" type="button" variation="primary" id="testId1" disabled="false" (click)="viewStudents(true)"></tantus-button>
            <tantus-button tabindex="0" label="View Only students with courses" type="button" variation="primary" id="testId2" disabled="false" (click)="viewStudents(false)"></tantus-button>
        </div>
        <p-table #dt [columns]="cols" [value]="students" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [filterDelay]="0" [globalFilterFields]="['name','courses']" sortField="greaterThan3" sortMode="single" (onSort)="onSort()" tabindex="0" [attr.aria-label]="tableDesc">
            <ng-template pTemplate="caption">
                <div class="table-header">
                    <span class="text-center" tabindex="0">Student Courses</span>
                    <span class="float-right">
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Filter" aria-label="Filter Students" />
                </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" tabindex="0">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                <tr *ngIf="rowGroupMetadata[rowData.greaterThan3].index === rowIndex" class="bg-success text-white">
                    <td colspan="3">
                        <span *ngIf="rowData.greaterThan3 == true" class="p-text-bold p-ml-2" tabindex="0" [attr.aria-label]="moreThan3">{{moreThan3}}</span>
                        <span *ngIf="rowData.greaterThan3 == false" class="p-text-bold p-ml-2" tabindex="0" [attr.aria-label]="lessThan4">{{lessThan4}}</span>
                    </td>
                </tr>
                <tr>
                    <td *ngFor="let col of columns" tabindex="0">
                        <span *ngIf="col.field == ''" [attr.aria-label]="'Number of courses ' + rowData.courses.length">{{rowData.courses.length}}</span>
                        <span *ngIf="col.field !== ''" aria-label="rowData[col.field]">{{rowData[col.field]}}</span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</div>