$pri_col: #007bff;
$success_col: #28a745;
$warning_col: #ffc107;
$danger_col: #dc3545;
:host>button {
    border-radius: 0.5em;
    color: #fff;
    cursor: pointer;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border: .2rem solid;
    outline: none;
    transition: box-shadow .3s;
    &:hover {
        box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    }
    &.primary {
        background: $pri_col;
    }
    &.success {
        background-color: $success_col;
    }
    &.warning {
        background-color: $warning_col;
    }
    &.danger {
        background-color: $danger_col;
    }
    &.small {
        padding: 5px;
        font-weight: 400;
        font-size: 0.9em;
    }
    &:disabled {
        background-color: grey;
        cursor: not-allowed;
    }
}